$black:    #333333 !default;
$red: #E7462D !default;
$lighter: #F2F2F2;
$light: #757575;
$dark: $black;

$font-family-sans-serif: 'Rubik', sans-serif;
$body-color: $black;
$font-size-base: 0.875rem !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            500 !default;
$font-weight-bolder:          600 !default;

$primary: #8BAC3E;
$secondary: $lighter !default;

$navbar-light-color: $black;
// $nav-link-padding-y: 0.625rem !default;
// $nav-link-padding-x: 1.125rem !default;
$navbar-nav-link-padding-x: 1rem !default;

$border-radius: 6.25rem !default;
$border-radius-lg: 7rem !default;

$h1-font-size: 4rem !default;
$h3-font-size: 2.375rem !default;
$h5-font-size: 1.125rem !default;