#main-section {
    h1 {
        @media (max-width: 991.98px) {
            font-size: 3rem;
            margin-bottom: 4rem;
        }
    }
    p {
        font-size: 1.125rem;
        // line-height: 1.125rem;
        @media (max-width: 991.98px) {
            font-size: 0.875rem;
            // line-height: 0.875rem;
        }
    }
    .main-section__md-description-col {
        display: none;
        @media (max-width: 991.98px) {
            display: block;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
    }
    .main-section__lg-description, .main-section__lg-button {
        @media (max-width: 991.98px) {
            display: none;
        }
    }
    .main-section__hero {
        .main-section__hero__wrapper {
            background-color: rgb(196 196 196 / 12%);
            padding: 2.3rem;
            border-radius: 100%;
            img {
                max-width: 412.9px;
                @media (max-width: 991.98px) {
                    max-width: 198.58px;
                }
            }
        }
    }
    .main-section__banner {
        @media (max-width: 991.98px) {
            left: unset;
            right: 5%;
            bottom: -2%;
        }
        position: absolute;
        left: 13%;
        bottom: 7%;
        padding: 18px;
        background: rgba(255, 255, 255, 0.74);
        box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(11px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 17px;
        .main-section__banner__wrapper {
            display: flex;
            .main-section__banner__main-img {
                margin-right: 19px;
                img {
                    width: 53px;
                }
            }
            p {
                margin-bottom: 0px;
                small {
                    font-size: 12px;
                }
            }
            .main-section__banner__rate {
                img {
                    width: 10.2px;
                }
            }
        }
    }
}
#category-section {
    .glide {
        @media (max-width: 991.98px) {
            margin-left: -60px;
            overflow: hidden;
            width: calc(100% + 60px);
        }
        .glide__slide {
            @media (min-width: 992px) {
                &.glide__slide--active {
                    .glide__slide__wrapper {
                        background-image: url(~/static/img/pizza-bg.png);
                    }
                    p {
                        margin-bottom: 20px !important;
                    }
                }
            }
            .glide__slide__wrapper {
                padding: 12% 0;
                border-radius: 8px;
                text-align: center;
                display: block;
                color: inherit;
                @media (min-width: 992px) {
                    &:hover {
                        text-decoration: none;
                        background-image: url(~/static/img/pizza-bg.png);
                        p {
                            margin-bottom: 20px !important;
                        }
                    }
                }
                &.glide__cupcake {
                    background-color: #F0FEEB;
                }
                &.glide__pizza {
                    background-color: #E4F2F4;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &.glide__kebab {
                    background-color: #EAEEFA;
                }
                &.glide__salmon {
                    background-color: #F9EEF3;
                }
                &.glide__doughnut {
                    background-color: #F3F7D9;
                }
                h3 {
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    margin-bottom: 4px !important
                }
                p {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    // transition: margin 250ms;
                    margin-bottom: 0;
                }
                img {
                    max-height: 47px;
                    margin-bottom: 17px;
                }
            }
        }
    }
    .receipts__carousel__nav {
        @media (max-width: 991.98px) {
            display: none;
        }
        margin-top: 10px;
        a {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
            img {
                max-width: 90px;
            }
        }
    }
}
#trending-section {
    a {
        &.trending-section__receipt {
            display: block;
            text-decoration: none;
            padding: 1.5rem 1rem;
            margin-bottom: 1.75rem;
            box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
            border-radius: 17px;
            &.trending-section__receipt--pizza {
                background: #E6F3F5;
            }
            &.trending-section__receipt--kebab {
                background: #EAEEFA;
            }
            &.trending-section__receipt--salmon {
                background: #F9EEF3;
            }
            &.trending-section__receipt--cupcake {
                background: #F0FEEB;
            }
            &.trending-section__receipt--doughnut {
                background: #F3F7D9;
            }
            &:hover {
                background-image: url(~/static/img/pizza-bg.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
            .trending-section__receipt__image {
                margin-bottom: 25px;
                img {
                    max-height: 135px;
                }
            }
            h4 {
                font-size: 24px;
                margin-bottom: 0px;
                color: $body-color;
            }
            p {
                color: $primary;
                font-size: 18px;
            }
            .trending-section__receipt__rate {
                img {
                    width: 10.5px;
                }
            }
        }
    }
}